<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

      <P>※</P>
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: 'form-control'%>
      
      <P>※</P>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :sex %>
      <%= f.text_field :sex %>
      
      <P>※</P>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control'%>
      
      <%= f.label :tel %>
      <%= f.text_field :tel %>
      
      <P>※</P>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <P>※</P>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :introduction %>
      <%= f.text_field :introduction%>

      <p>※は必須入力</p>

 <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
