<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :nickname,"名前" %>
      <%= f.text_field :nickname, class: 'form-control' %>

      <%= f.label :name ,"ユーザー名"%>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :sex, "性別" %>
      <%= f.text_field :sex, class: 'form-control' %>
      
      <%= f.label :tel, "電話番号" %>
      <%= f.text_field :tel, class: 'form-control' %>
      
      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_field :introduction, class: 'form-control' %>
      
      <%= f.label :website, "website" %>
      <%= f.text_field :website, class: 'form-control' %>
      
      
     <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
      
      

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
</div>