<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= render 'shared/stats' %>
     
      
      <li class="users_intoroduction">自己紹介(<%= @user.introduction %>)</li>
      <li class="user_website">website(<%= @user.website %>)</li>
    </section>
   <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
  </aside>
  
  
    <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
    
  </div>
  
 
 
 
 
</div>
