% provide(:title, @user.name) %>
<div class="row">
  <div class="user_info">
    <div class="col-md-5">
      <div class="user_picture">
        <%= gravatar_for @user %>
      </div>
    </div>
    <div class="col-md-7">
      <div class="name_and_stats">
        <h1><%= @user.user_name %></h1>
      </div>
    </div>
    <%= render 'shared/feed' %>
  </div>
</div>