<% provide(:title, "nwe micropost") %>

<h1>投稿画面</h1>

<div class="row user_info_post">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
</div>