<% provide(:title, @microposts.user.name) %>
<h1>投稿</h1>

<div class="row">
  <div class="col-md-7 post_detail">
    <div post_detail_info>
      <%= link_to @microposts.user.name, @microposts.user %>
      <%= link_to gravatar_for(@microposts.user, size: 50), @microposts.user %>
    </div>
    <div class="post_detail_content">
      <%= image_tag @microposts.picture.url, id:"modal-open" if @microposts.picture? %>
    </div>
    <div class="timestamp">
      Posted <%= time_ago_in_words(@microposts.created_at) %> ago.
      <% if current_user?(@microposts.user) %>
        <%= link_to "delete", @microposts, method: :delete,
        data: {confirm: "削除してもよろしいでしょうか？"} %>
      <% end %>
    </div>
      <%= render 'likes/like_button', micropost: @microposts %>
      
  </div>
  
</div>